
@font-face {
  font-family: 'ProximaNovaA-Regular';
  src: url('../fonts/ProximaNovaA-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/ProximaNovaA-Regular.otf')  format('opentype'),
       url('../fonts/ProximaNovaA-Regular.woff') format('woff'), url('../fonts/ProximaNovaA-Regular.ttf')  format('truetype'), url('../fonts/ProximaNovaA-Regular.svg#ProximaNovaA-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNovaA-Semibold';
  src: url('../fonts/ProximaNovaA-Semibold.eot?#iefix') format('embedded-opentype'),  url('../fonts/ProximaNovaA-Semibold.otf')  format('opentype'),
       url('../fonts/ProximaNovaA-Semibold.woff') format('woff'), url('../fonts/ProximaNovaA-Semibold.ttf')  format('truetype'), url('../fonts/ProximaNovaA-Semibold.svg#ProximaNovaA-Semibold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNovaA-Bold';
  src: url('../fonts/ProximaNovaA-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/ProximaNovaA-Bold.otf')  format('opentype'),
       url('../fonts/ProximaNovaA-Bold.woff') format('woff'), url('../fonts/ProximaNovaA-Bold.ttf')  format('truetype'), url('../fonts/ProximaNovaA-Bold.svg#ProximaNovaA-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

