<?xml version="1.0" encoding="utf-8"?>
<ablecommerce>
	<settings>
		<item key="CheckoutRetryCount" value="3" />
		<item key="ContextCacheSize" value="1000" />
		<item key="GoogleFeedInterval" value="360" />
		<item key="MaintenanceInterval" value="360" />
		<item key="PageTrackingEnabled" value="True" />
		<item key="PageTrackingIgnoreDirs" value="Admin,Assets,ClientApi,images,Install,Layouts" />
		<item key="RecurringOrdersSchedulerInterval" value="240" />
		<item key="SearchProvider" value="SqlSearchProvider" />
		<item key="UseDemoMode" value="False" />
		<item key="ViewStateWarningSize" value="0" />
	</settings>
</ablecommerce>