<?xml version="1.0" encoding="utf-8"?>
<ablecommerce>
  <UsePermanentRedirect>True</UsePermanentRedirect>
	<securePages>
		<directory path="admin" />
		<directory path="app_themes" state="Ignore" />
		<directory path="assets" state="Ignore" />
		<directory path="checkout" />
		<directory path="members" />
		<directory path="mobile/checkout" />
		<directory path="mobile/members" />
		<directory path="scripts" state="Ignore" />
		<directory path="webcharts" state="Ignore" />
		<file path="login.aspx" />
    <file path="passwordhelp.aspx" />
		<file path="mobile/login.aspx" />
    <file path="members/mywishlist.aspx" state="Ignore"/>
	</securePages>
</ablecommerce>