<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <components>
	<!--
	Define your custom service implementations here. For example if you have 
	a custom coupon calculator implementation, you can define it here like this
	<component id="MyCouponCalculator" service="CommerceBuilder.Services.ICouponCalculator, CommerceBuilder" type="MyCustomNamespace.MyCouponCalculator, MyCustomAssembly"/>
	-->
  </components>
</configuration>
