@model FriendFitAdmin.Models.Logo
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="color: #367fa9;font-size: 22px;padding-left: 59px;
    padding-right: 40px; padding-top:20px">
    Manage Logo
</div>
@{ if (@TempData["Mgs"] != null)
    {
        <div id="HideMgs" class="alert alert-success fade in" style="text-align: center; margin: 22px 17px;">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>Success!</strong> @TempData["Mgs"].ToString()
        </div>
        <script type="text/javascript">
            $(document).ready(function () {
               $('#HideMgs').delay(5000).fadeOut();
            });
        </script>
    }
    else
    {
        <script type="text/javascript">
            $(document).ready(function () {
                $('#HideMgs').delay(5000).fadeOut();
            });
        </script>
    }
}

@using (Html.BeginForm("Create", "ManageUser", FormMethod.Post,
                    new { enctype = "multipart/form-data" }))
{
    <div>
        <div class="col-sm-10"><input type="file" name="file" id="file" style="width: 100%;" class="form-control" /></div>

    </div>
    <div>

        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
}


@*<script type="text/javascript">

    function preview(fileInput) {
        debugger;
        if (fileInput.files && fileInput.files[0]) {
            var reader = new FileReader();
            reader.onloadend = function (e) {
                $('#image02').attr('src', e.target.result);
            }
            reader.readAsDataURL(fileInput.files[0]);
        }
    };
        </script>*@
