
<section>
    <div class="db-main-outer">
        <div class="db-main-inner appoint-details-upper">
            <div class="inner-menu-navigation">
                <p><a href="#">Dashboard</a> <span> &gt; </span> <a class="active" href="#">Referred Patients</a></p>
                <div class="refer-patient-btn">
                    <a class="refer-patient-link" href="#"> + Refer Patient</a>
                </div>
            </div>
            <div class="patient-detail-header">
                <h3>Search Option</h3>
                <div class="patient-detail-form">
                    <form>
                        <div class="form-group p-input">
                            <div class="icon-addon addon-lg">
                                <input type="text" placeholder="Patient Name" class="form-control" id="p-name">
                                <label for="p-name" rel="tooltip" title="p-name"><span><img src="~/assets/images/form-user.png" alt=""></span></label>
                            </div>
                        </div>
                        <div class="form-group p-input">
                            <div class="icon-addon addon-lg">
                                <input type="text" placeholder="Patient Name" class="form-control" id="p-name">
                                <label for="p-name" rel="tooltip" title="p-name"><span><img src="~/assets/images/disease_icon.png" alt=""></span></label>
                            </div>
                        </div>
                        <div class="form-group p-input">
                            <div class="icon-addon addon-lg">
                                <input type="text" placeholder="Patient Name" class="form-control" id="p-name">
                                <label for="p-name" rel="tooltip" title="p-name"><span><img src="~/assets/images/form-gender.png" alt=""></span></label>
                            </div>
                        </div>
                        <button class="search-patient" type="">Submit</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="current-encounter-form view-patients-sec">
            <ul class="list-unstyled list-inline text-center">
                <li>
                    <div class="patient-profile-view">
                        <div class="patient-profile-pic">
                            <figure>
                                <img src="~/assets/images/patient-pic_1.png" alt="Doctor-Picture">
                            </figure>
                        </div>
                        <div class="view-patient-description">
                            <h3>Dean Amborse</h3>
                            <p>Male| A+</p>
                            <p>Infection</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="bottom-copyright-text text-center">
            <p>© Copyright2017 STETHO | All Rights Reserved.</p>
        </div>


    </div>
</section>
<!-- pop-up for view report starts -->

<div class="refer_patient_popup">
    <span class="close_popup"><img class="img-responsive" src="~/assets/images/popup-close.png"></span>
    <div class="refer_popup">
        <div class="refer-header">
            <h3>Refer to Others</h3>
        </div>
        <div class="refer-form-list">
            <form>
                <div class="form-group">
                    <div class="icon-addon addon-lg">
                        <input type="text" placeholder="Search Hospital" class="form-control" id="p-name">
                        <label for="p-name" rel="tooltip" title="p-name"><span><img src="~/assets/images/form_search.png" alt=""></span></label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="icon-addon addon-lg">
                        <select>
                            <option value="" selected disabled>Please select</option>
                            <option value="1">Item 1</option>
                            <option value="2">Item 2</option>
                            <option value="3">Item 3</option>
                        </select>
                        <label for="p-name" rel="tooltip" title="p-name"><span><img src="assets/images/dep_form.png" alt=""></span></label>
                    </div>
                </div>
                <ul class="list-unstyled list-inline refer-inner-list">
                    <li>
                        <div class="other-profile">
                            <figure>
                                <img src="assets/images/patient-pic.png" alt="">
                            </figure>
                            <div class="other-details">
                                <h3>Mr. John Doe</h3>
                                <p>56, Male, New Delhi</p>
                                <a class="refer-btn" href="">REFER</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="other-profile">
                            <figure>
                                <img src="assets/images/patient-pic.png" alt="">
                            </figure>
                            <div class="other-details">
                                <h3>Mr. John Doe</h3>
                                <p>56, Male, New Delhi</p>
                                <a class="refer-btn" href="">REFER</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="other-profile">
                            <figure>
                                <img src="assets/images/patient-pic.png" alt="">
                            </figure>
                            <div class="other-details">
                                <h3>Mr. John Doe</h3>
                                <p>56, Male, New Delhi</p>
                                <a class="refer-btn" href="">REFER</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="other-profile">
                            <figure>
                                <img src="assets/images/patient-pic.png" alt="">
                            </figure>
                            <div class="other-details">
                                <h3>Mr. John Doe</h3>
                                <p>56, Male, New Delhi</p>
                                <a class="refer-btn" href="">REFER</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="other-profile">
                            <figure>
                                <img src="assets/images/patient-pic.png" alt="">
                            </figure>
                            <div class="other-details">
                                <h3>Mr. John Doe</h3>
                                <p>56, Male, New Delhi</p>
                                <a class="refer-btn" href="">REFER</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="other-profile">
                            <figure>
                                <img src="assets/images/patient-pic.png" alt="">
                            </figure>
                            <div class="other-details">
                                <h3>Mr. John Doe</h3>
                                <p>56, Male, New Delhi</p>
                                <a class="refer-btn" href="">REFER</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</div>


