<?xml version="1.0"?>
<configuration>
    <system.web>
      <pages theme="" styleSheetTheme="" />
      <httpModules>
        <clear />
      </httpModules>
    </system.web>
    <location path="Upgrade.aspx">
        <system.web>
            <httpRuntime executionTimeout="600"/>
        </system.web>
    </location>
</configuration>
