<?xml version="1.0"?>
<configuration>
    <system.web>
        <httpHandlers>
            <add verb="*" path="*.png" type="AbleCommerce.Code.ChartImageHandler"/>
        </httpHandlers>
    </system.web>
    <system.webServer>
        <handlers>
            <add name="ChartImageHandler" verb="*" path="*.png" type="AbleCommerce.Code.ChartImageHandler" resourceType="File" />
        </handlers>
    </system.webServer>
</configuration>