<connectionStrings>
  <!--<remove name="LocalSqlServer" />
  <add name="AbleCommerce" connectionString="Data Source=TEST1\SQL2;Initial Catalog=Allmark-AbleCommerce-v2; Integrated Security=True;"
    providerName="System.Data.SqlClient" />
  <add name="crm" connectionString="Data Source=TEST1\SQL2;Initial Catalog=allmark; Integrated Security=True;"
    providerName="System.Data.SqlClient" />-->

  <add name="AbleCommerce" connectionString="Data Source=180.151.232.92;Initial Catalog=Allmark-AbleCommerce-v2; user id=sandbox; password=vinove; "
  providerName="System.Data.SqlClient" />
  <add name="crm" connectionString="Data Source=180.151.232.92;Initial Catalog=Allmark-AbleCommerce-v2; user id=sandbox; password=vinove; "
    providerName="System.Data.SqlClient" />
</connectionStrings>
