<%@ Master Language="C#" MasterPageFile="~/Layouts/Fixed/Base.Master" AutoEventWireup="True" CodeFile="RightSidebar.master.cs" Inherits="AbleCommerce.Layouts.Fixed._RightSidebar" %>
<%@ Register src="~/ConLib/PopularProductsDialog.ascx" tagname="PopularProductsDialog" tagprefix="uc" %>
<asp:Content ID="NestedMaster" ContentPlaceHolderID="NestedMaster" runat="server">
    <div id="mainColumn" class="rightSidebarLayout">
        <div class="zone">
            <asp:ContentPlaceHolder ID="PageContent" runat="server">
            </asp:ContentPlaceHolder>
        </div>
    </div>
    <div id="rightColumn">
        <div class="zone">
            <asp:ContentPlaceHolder ID="RightSidebar" runat="server">
                <uc:PopularProductsDialog ID="PopularProductsDialogRight" runat="server" />
            </asp:ContentPlaceHolder>
        </div>
    </div>
</asp:Content>