<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
      <pages clientIDMode="Static"/>
      <customErrors mode="On" defaultRedirect="~/Mobile/Errors/GeneralError.aspx">
          <error statusCode="404" redirect="~/Mobile/Errors/PageNotFound.aspx"/>
      </customErrors>
  </system.web>
</configuration>