<?xml version="1.0"?>
<configuration>
	<system.web>
		<authorization>
			<allow roles="System,Admin" />
			<deny users="*"/>
		</authorization>
	</system.web>
	<location path="Connection.aspx">
		<system.web>
			<authorization>
				<allow roles="System" />
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="EncryptionKey.aspx">
		<system.web>
			<authorization>
				<allow roles="System" />
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="GetKeyBackup.ashx">
		<system.web>
			<authorization>
				<allow roles="System" />
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="AuditLog.aspx">
		<system.web>
			<authorization>
				<allow roles="System" />
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="SystemSettings.aspx">
		<system.web>
			<authorization>
				<allow roles="System" />
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
</configuration>