<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="nhs-configuration" type="NHibernate.Search.Cfg.ConfigurationSectionHandler, NHibernate.Search" requirePermission="false"/>
    <section name="paypal" type="com.paypal.sdk.core.ConfigSectionHandler, paypal_base"/>
    <section name="syscache" type="NHibernate.Caches.SysCache.SysCacheSectionHandler, NHibernate.Caches.SysCache" requirePermission="false"/>
  </configSections>
  <paypal configSource="App_Data\paypal.config"/>
  <connectionStrings configSource="App_Data\database.config"/>
  <appSettings>
    <add key="ChartImageHandler" value="storage=file;timeout=5;"/>
    <add key="aspnet:MaxHttpCollectionKeys" value="4000"/>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
  <nhs-configuration xmlns="urn:nhs-configuration-1.0">
    <search-factory>
      <property name="hibernate.search.analyzer">Lucene.Net.Analysis.Standard.StandardAnalyzer, Lucene.Net</property>
      <property name="hibernate.search.default.directory_provider">NHibernate.Search.Store.FSDirectoryProvider, NHibernate.Search</property>
      <property name="hibernate.search.default.indexBase">~/App_Data/Indexes</property>
      <property name="hibernate.search.default.locking_strategy">native</property>
    </search-factory>
  </nhs-configuration>
  <syscache>
    <cache region="LongTerm" expiration="3600" priority="5"/>
    <cache region="ShortTerm" expiration="900" priority="3"/>
  </syscache>
  <system.web>
    <customErrors mode="On" defaultRedirect="~/Errors/GeneralError.aspx" redirectMode="ResponseRewrite">
      <error statusCode="404" redirect="~/Errors/PageNotFound.aspx"/>
    </customErrors>
    <trace enabled="false" requestLimit="100" pageOutput="false" localOnly="true" mostRecent="true"/>
    <compilation debug="true" strict="false" explicit="false" targetFramework="4.5">
      <expressionBuilders>
        <add expressionPrefix="Translate" type="CommerceBuilder.Localization.LanguageManager"/>
      </expressionBuilders>
      <assemblies>
        <add assembly="System.Net.Http, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </assemblies>
    </compilation>
    <pages theme="Bootstrap_Responsive" enableEventValidation="false" validateRequest="false" clientIDMode="AutoID">
      <namespaces>
        <add namespace="CommerceBuilder.Catalog"/>
        <add namespace="CommerceBuilder.Common"/>
        <add namespace="CommerceBuilder.DigitalDelivery"/>
        <add namespace="CommerceBuilder.Extensions"/>
        <add namespace="CommerceBuilder.Licensing"/>
        <add namespace="CommerceBuilder.Messaging"/>
        <add namespace="CommerceBuilder.Marketing"/>
        <add namespace="CommerceBuilder.Orders"/>
        <add namespace="CommerceBuilder.Payments"/>
        <add namespace="CommerceBuilder.Payments.Providers"/>
        <add namespace="CommerceBuilder.Products"/>
        <add namespace="CommerceBuilder.Reporting"/>
        <add namespace="CommerceBuilder.Shipping"/>
        <add namespace="CommerceBuilder.Stores"/>
        <add namespace="CommerceBuilder.Taxes"/>
        <add namespace="CommerceBuilder.Taxes.Providers"/>
        <add namespace="CommerceBuilder.Users"/>
        <add namespace="CommerceBuilder.Utility"/>
        <add namespace="CommerceBuilder.Localization"/>
      </namespaces>
      <controls>
        <add tagPrefix="asp" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" namespace="System.Web.UI.DataVisualization.Charting"/>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
        <add tagPrefix="cb" namespace="CommerceBuilder.UI.WebControls" assembly="CommerceBuilder"/>
        <add tagPrefix="cb" namespace="CommerceBuilder.UI.WebControls" assembly="CommerceBuilder.UI"/>
      </controls>
    </pages>
    <authentication mode="Forms">
      <forms timeout="15" slidingExpiration="true" name="ACGOLD.ASPXAUTH"/>
    </authentication>
    <sessionState mode="InProc" timeout="15" cookieName="ACGOLD.SESSIONID"/>
    <siteMap defaultProvider="StoreSiteMap">
      <providers>
        <add name="StoreSiteMap" type="System.Web.XmlSiteMapProvider" siteMapFile="~/Web.sitemap"/>
      </providers>
    </siteMap>
    <membership defaultProvider="AbleCommerceMembershipProvider">
      <providers>
        <clear/>
        <add name="AbleCommerceMembershipProvider" connectionStringName="AbleCommerce" applicationName="/" type="CommerceBuilder.Users.AbleCommerceMembershipProvider"/>
      </providers>
    </membership>
    <profile enabled="false"/>
    <roleManager enabled="true" defaultProvider="AbleCommerceRoleProvider">
      <providers>
        <clear/>
        <add name="AbleCommerceRoleProvider" type="CommerceBuilder.Users.AbleCommerceRoleProvider" connectionStringName="AbleCommerce" applicationName="/"/>
      </providers>
    </roleManager>
    <httpModules>
      <add name="AbleCommerceHttpModule" type="CommerceBuilder.Services.HttpModule, CommerceBuilder.Licensing"/>
    </httpModules>
    <anonymousIdentification enabled="true" cookieName="ACGOLD.ASPXANONYMOUS" cookieTimeout="1440"/>
    <httpRuntime maxRequestLength="4096" requestValidationMode="2.0" targetFramework="4.5"/>
    <globalization culture="en-US" uiCulture="en-US"/>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="AbleCommerceWebApi" type="CommerceBuilder.WebApi.WebApiModule, CommerceBuilder.WebApi" preCondition="managedHandler"/>
      <add name="AbleCommerceHttpModule" type="CommerceBuilder.Services.HttpModule, CommerceBuilder.Licensing" preCondition="managedHandler"/>
    </modules>
    <handlers>
      <add name="ChartImg" verb="*" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </handlers>
    <staticContent>
      <remove fileExtension=".woff"/>
      <remove fileExtension=".woff2"/>
      <remove fileExtension=".otf"/>
      <mimeMap fileExtension=".woff" mimeType="application/font-woff"/>
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2"/>
      <mimeMap fileExtension=".otf" mimeType="application/font-otf"/>
    </staticContent>
  </system.webServer>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000"/>
      </webServices>
      <scriptResourceHandler enableCompression="true" enableCaching="true"/>
    </scripting>
  </system.web.extensions>
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true"/>
    </settings>
  </system.net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" culture="neutral" publicKeyToken="aa95f207798dfdb4"/>
        <bindingRedirect newVersion="3.3.1.4000" oldVersion="0.0.0.0-3.3.1.4001"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="TaxCloudSoap">
          <security mode="Transport"/>
        </binding>
        <binding name="TaxCloudSoap1"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://api.taxcloud.net/1.0/TaxCloud.asmx" binding="basicHttpBinding" bindingConfiguration="TaxCloudSoap" contract="TaxCloudService.TaxCloudSoap" name="TaxCloudSoap"/>
    </client>
  </system.serviceModel>
</configuration>