@model HealthcareSoft.Data.Model.ContactUsModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link rel="stylesheet" href="~/assets/css/style.css">
</head>
<body>
    <section class="head-sec">
        <header id="header" class="">
            <nav class="navbar navbar-inverse">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">stetho</a>
                    </div>
                    <div class="collapse navbar-collapse" id="myNavbar">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="/Home/Index">HOME</a></li>
                            <li class="active"><a href="/Home/Contact">CONTACT US</a></li>
                            <li><a href="#">ABOUT US</a></li>
                            <li><a href="/Home/HowItWorks">HOW IT WORKS</a></li>
                            <li class="menu-line"><img src="~/assets/images/menu-line.png"></li>
                            <li class="sign-icon"><a href="/UserProfile/Login" class="login_link"><span><img src="~/assets/images/login-in-img.png"></span>Login</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header><!-- /header -->
        <!-- banner starts here -->
        <div class="container-fluid no-padding">
            <div class="banner-info text-center">
                <h2>CONTACT <span> US</span></h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Excepte sint<br> occaecat cupidatat non proident, sunt in.</p>
            </div>
        </div>
    </section>
    @using (Html.BeginForm("Contact", "Home", FormMethod.Post, new { }))
    {
    <!-- contact section starts here -->

        <section class="contact-contact-sec">

            <div class="container" id="">
                <div class="row">
                    <div class="col-md-6 form-sec">
                        <form>
                            @Html.TextBoxFor(model => model.Name, new { @placeholder = "Name" })
                            @Html.TextBoxFor(model => model.Email, new { @placeholder = "Email" })
                            @Html.TextBoxFor(model => model.PhoneNo, new { @placeholder = "Phone Number" })
                            @Html.TextAreaFor(model => model.Description, new { @placeholder = "Description" })

                            <input type="submit" value="Submit" class="sub-btn" />
                        </form>
                    </div>

                    <div class="col-md-6 contact-page">
                        <div id="googlemaps"></div>
                    </div>
                </div>
            </div>

        </section>
    }
    <!-- footer sec starts here -->
    <section class="foot-sec">
        <footer>
            <div class="container main-footer-sec secondary-footer">
                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <h2>stetho</h2>
                        <p>Cras a aliquet ligula. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Cras lacinia ornare velit, id pellentes.</p>
                    </div>
                    <div class="col-md-5 col-sm-12 Q-links">
                        <h4>QUICK LINKS</h4>
                        <ul class="list-unstyled list-inline">
                            <li><a href="/Home/Index">Home</a></li>
                            <li><a href="">Terms & Condition</a></li>
                            <li><a href="/Home/HowItWorks">How It Works</a></li>
                            <li><a href="">Help & Support</a></li>
                            <li><a href="">Privacy Policy</a></li>
                            <li><a href="">FAQ's</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-12 connect-us">
                        <h4>CONNECT WITH US</h4>
                        <ul class="list-unstyled list-inline">
                            <li><a href=""><span class="fa fa-facebook"></span></a></li>
                            <li><a href=""><span class="fa fa-twitter"></span></a></li>
                            <li><a href=""><img src="~/assets/images/g-plus-ico.png"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="copyrite-sec text-center">
                <p>© Copyright2017 STETHO   |  All Rights Reserved.</p>
            </div>
        </footer>
    </section>



    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.12/jquery.bxslider.min.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDoVKy85zkMCIDaM5dZn5sE7nEY9SVMI84&callback=initMap"></script>
    <script src="~/assets/js/custom.js"></script>

</body>
</html>