<configuration>
   <system.web>	
       <authorization>         
	 <allow users="*"/>
      </authorization>	
      <httpModules>
	 <add verb="*" path="*" 
	 type="CommerceBuilder.Payments.Providers.GoogleCheckout.Util.BasicAuthenticationModule, CommerceBuilder.GoogleCheckout"
	 name="GoogleCheckout Basic Authentication" />
      </httpModules>
   </system.web>
</configuration>
